*{
	font-family: 'Barrio', cursive;
}

.mg-contents{
	border: 5px solid black;
	padding: 0;
	margin-top: 10px;
}

img{
	max-width: 100%; /* Don't let the image escape its parent */
}

/* Card is the grandparent. It needs perspective so its children can play in the 3D space */
.card{
	height: 200px;
	min-width: 200px;
	border: 1px solid black;
	perspective: 500px;
}

.card-holder{
	width: 200px;
	position: relative; /* Children will be absolute, so make this relative so they have an anchor */
	transform-style: preserve-3d; /* Make sure children know they are in 3d land */
	transition: 1s all;
	cursor: pointer;
	margin-left: 25px;
}

.card:hover{
	border: 2px solid yellow;
	width: 290px;
	height: 200px;
}

.card-front, .card-back{
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden; /* This will not show the back of the image (i.e. the front-card) */
}

.card-front{
	transform: rotateY(180deg);
}

.card-back{
	background: url('../images/logo-bw.png') no-repeat; /* In CSS folder, so need to go up to get to images folder */
	background-size: cover;
	height: 200px;
	min-width: 200px;
}

.flip, .matched{
	transform: rotateY(-180deg);
}

.matched{
	transform: rotateY(520deg);
}

.win{
	color: red;
	font-size: 36px;
}